#error-page{
    display: none;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-field{
    padding: 0px 10px;
    margin: 10px 0px;
}